[data-cellid="grid_c11"][data-page="_global_login"][data-cellid="grid_c11"][data-page="_global_login"][data-cellid="grid_c11"][data-page="_global_login"] {
  padding-top: 5px;
}
[data-page="_global_login"][data-itemid="login-logo"] {
  font-size: 24px;
}
[data-page="_global_login"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


