[data-cellid="above-grid_c6"][data-page="hk_invoice_mst_view"][data-cellid="above-grid_c6"][data-page="hk_invoice_mst_view"][data-cellid="above-grid_c6"][data-page="hk_invoice_mst_view"] {
  text-decoration: underline;
}
[data-cellid="above-grid_c7"][data-page="hk_invoice_mst_view"][data-cellid="above-grid_c7"][data-page="hk_invoice_mst_view"][data-cellid="above-grid_c7"][data-page="hk_invoice_mst_view"] {
  text-decoration: underline;
}
[data-page="hk_invoice_mst_view"][data-itemid="view_header"] {
  font-weight: bold;
  font-size: 20px;
}
[data-page="hk_invoice_mst_view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


